@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
.footer {
  width: 100%;
  height: 60px;
  background-color: lightblue;
}
html {
  height: 100%;

}
body {
  min-height: 100%;

}

@import "partials/form.scss";